
body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    height: 100px;
    background-color: darkgrey;
}

.title {
    color: white;
    text-align: center;
    
  }


.display{
    background-color: #282C34;
    align-items: center;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 15px solid #32363E;
    border-radius: 50%;
    margin: 15px auto;
}

.display-Date{
    font-size: 14px;
    font-weight: 300; 
    color: #61DAFB;
}
.display-Time{
    font-size: 14px;
    font-weight: 600; 
    color: #61DAFB;
}

.panel {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 4rem;
    justify-content: center;
    margin: 1rem auto;    
    width: 14rem;
}

.panel-switch-text {
    font-size: 2rem;
    padding: 0.5rem;
    color: #333;
}

.switch {
    padding: 0.5rem;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #61DAFB;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #61DAFB;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }